<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Bonn Integration Bee 2024</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="icon" href="static/images/bee.png">
	</head><body>
    <header>
        <h1>Wilkommen zur Bonn Integration Bee</h1>
        <nav>
            <a href="/">Home</a>
            <!-- Add more links here -->
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
