<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Bonn Integration Bee 2025</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<link rel="icon" href="static/images/bee.ico">
        <!-- Compiled and minified CSS -->
        <!--<link rel="stylesheet" href="static/assets/css/materialize.min.css">-->
        <!-- Compiled and minified JavaScript -->
        <!--<script src="static/assets/js/materialize.min.js"></script>-->

	</head>
    <body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
