{% extends 'base.html' %}

{% block content %}
	<body class="is-preload">
        <div class="hero">
            <div class="wrapper">
                <header id="header" class="alt">
                    <div class="logo">
                        <img src="static/images/logo.png" alt="Bonn Integration Bee Logo" />
                    </div>
                    <h1>3. Bonn Integration Bee 2026</h1>
                    <p>
						Bonn's first and best Integration Competition!
						<br>
                        An event by the Fachschaft Mathematik of the University Bonn
					</p>
                </header>
            </div>
        </div>
		<div class="wrapper">
			<nav id="nav">
				<ul>
					<li><a href="#intro" class="active">What is the Bonn Integration Bee?</a></li>
					<li><a href="#register">Registration</a></li>
					<li><a href="#rules">Ruleset</a></li>
					<!--<li><a href="#images">Images</a></li>-->
					<li><a href="#solutions">Solutions</a></li>
					<li><a href="#footer">Imprint</a></li>
				</ul>
			</nav>

			<div id="main">
				<section id="intro" class="main">
					<div class="spotlight">
						<div class="content">
							<header class="major">
								<h2>What is the Bonn Integration Bee?</h2>
							</header>
							<p>On <a href="static/assets/other/bibee26_termin.ics">Friday, the 08th of May 2026</a>, you have the chance to prove your integral solving skills at the Bonn Integration Bee – or <i>BIBee</i> for short. It all starts at <strong>4:00 PM</strong> in the small and large lecture halls at <strong>Wegelerstraße 10</strong>. First, all participants compete in a <strong>Kahoot quiz</strong> to secure a spot in the knockout round, then exciting <strong>1-on-1 duels</strong> determine the winner – until the best is crowned in the grand finale.</p>
							<p>If you're wondering what exactly to expect, you can look up information about the <a href="https://math.mit.edu/~yyao1/integrationbee.html" target="_blank"><i>MIT Integration Bee</i></a> – the event that inspired us!</p>
							<p><strong>Everyone is welcome to participate!</strong> You can find the exact rules and more information <a href="#rules">here</a>.</p>
							<p><strong>Spectators are of course also warmly welcome!</strong></p>
							<p><strong>Of course, there are great prizes to be won!</strong></p>
						</div>
						<div class="image">
                            <img src="static/images/bee.png" alt="Bonn's Integration Bee"/>
                        </div>
					</div>
				</section>

				<section id="register" class="main special">
					<header class="major">
						<h2>Registration</h2>
					</header>

                    <p>
                        Starting from the second Bonn Integration Bee in spring 2025, no registration is required - just come by and join the Kahoot!
                    </p>
						
					<div id="notification" style="display: none;"></div>
				</section>

				<section id="rules" class="main special">
					<header class="major">
						<h2>Ruleset</h2>
						<p>
                            Here you can find the ruleset.
                            <a href="static/assets/other/rule_set_en.pdf" download class="button inline-button"> Download english ruleset</a>
                            For the competition, the english version of the ruleset is valid. Here you can find a german version that largely corresponds to the english version:
                            <a href="static/assets/other/rule_set_de.pdf" download class="button inline-button"> Download german ruleset</a>
                            If you have any questions, feel free to contact us at <a href="mailto:bibee@fsmath-bonn.de?subject=Question%20about%20the%20ruleset">bibee@fsmath-bonn.de</a>
                        </p>
					</header>
				</section>

				<section id="countdown" class="main special">
					<header class="major">
						<h2>Countdown for the Bonn Integration Bee</h2>
						<h2 class="reversed-gradient">
							<span id="time" style="margin-left: 15px"></span>
						</h2>
                        If you don't want to miss the event, just save it in your calendar using <a href="static/assets/other/bibee26_termin.ics">this link</a>!
					</header>
				</section>

				<section id="timetable" class="main special">
					<header class="major">
						<h2>Timetable</h2>
						<p>
							The timetable for the Bonn Integration Bee 2025:
							<img src="static/images/timetable.png" alt="" class="centered-image">
							<a href="static/assets/other/timetable.pdf" download class="button inline-button"> Download timetable</a>
						</p>
					</header>
				</section>

                <!--<section id="images" class="main special">
					<header class="major">
						<h2>Bilder von der ersten Bonn Integration Bee</h2>
                        <div class="carousel">
                            <a class="carousel-item" href="#one!"><img src="static/assets/img/final_photo.webp"></a>
                            <a class="carousel-item" href="#one!"><img src="static/assets/img/kahoot1.webp"></a>
                            <a class="carousel-item" href="#one!"><img src="static/assets/img/finalists1.webp"></a>
                            <a class="carousel-item" href="#one!"><img src="static/assets/img/award3.webp"></a>
                            <a class="carousel-item" href="#one!"><img src="static/assets/img/award2.webp"></a>
                            <a class="carousel-item" href="#one!"><img src="static/assets/img/award1.webp"></a>
                        </div>
					</header>
				</section>-->

                <section id="solutions" class="main special">
					<header class="major">
						<h2>Problems and Solutions to the Bonn Integration Bee 2025</h2>
                        <p>
                            <a href="static/assets/other/integrals/solutions_2025.pdf" download class="button inline-button">Download solutions</a>
                            <a href="static/assets/other/integrals/problems_2025.pdf" download class="button inline-button">Download problems</a>
                        </p>
					<header class="major">
						<h2>Solutions to the first Bonn Integration Bee (2024)</h2>
                        <p>
                            <a href="static/assets/other/integrals/solutions_2024.pdf" download class="button inline-button">Download solutions</a>
                        </p>
					</header>
				</section>

			</div>
		</div>

        <!-- Footer -->
        <footer id="footer">
            <section>
                <h2>Imprint</h2>
                <dl class="alt">
                    <dt>Contact</dt>
                    <dd>Student council mathematics</dd>
                    <dt>Address</dt>
                    <dd>Endenicher Allee 60, Nebengebäude, 53115 Bonn</dd>
                    <h3>Contact</h3>
                    <dt>Phone:</dt>
                    <dd><a href="tel:+49228735382">+49228735382</a></dd>
                    <dt>Email</dt>
                    <dd><a href="mailto:bibee@fsmath-bonn.de">bibee@fsmath-bonn.de</a></dd>
                </dl>
                <p>Source: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
            </section>
            <p class="copyright">&copy; BIBee 2024-2026</p>
        </footer>
        
        
		<!-- Scripts -->
		<script src="static/assets/js/jquery.min.js"></script>
		<script src="static/assets/js/jquery.scrollex.min.js"></script>
		<script src="static/assets/js/jquery.scrolly.min.js"></script>
		<script src="static/assets/js/browser.min.js"></script>
		<script src="static/assets/js/breakpoints.min.js"></script>
		<script src="static/assets/js/util.js"></script>
		<script src="static/assets/js/main.js"></script>
		<script src="static/assets/js/index.js"></script>

	</body>
{% endblock %}
